<html lang="en">
  <head>
    {{> headtags }}
  </head>
  <body>
      {{> header }}
    <section class="main-content">
      <div>
        <img src="img/static-img.jpg" />
      </div>
    </section>

    {{> footer }}
  </body>
</html>