<html lang="en">
  <head>
    {{> headtags }}
    <link rel="stylesheet" href="css/about.css"/>
  </head>
  <body>
      {{> header }}
    <section class="main-content">
      <div>
        <img src="img/me.jpg" />
      </div>
      <div class="about-me">
        <p>Hi, My name is Brett Plemons.</p>
        <p>I am a Full Stack Web Developer with 6+ years of experience in Nodejs, React, and Django. I have architected a large number of projects as a Software Engineer. From an Agriculture eCommerce app (React/Django), to designing a web app used by a State Government to share Public Health Information (React/Nodejs/Tableau).</p>

        <p>I am a perpetual learner. I will always know that there is something more that I can learn about, whether that be new tools, languages, frameworks, or playing a new video game.</p>

        <p>As part of always striving to learn more, I have taken on some "risky" projects. Short deadlines, and zero experience with the language or framework, only to come out the other side a better Engineer, and developer.</p>

        <p>I have produced websites, HIPAA Regulated APIs (Django & .Net Framework), enterprise internal applications, mobile applications (React Native & Flutter), as well as Command-Line Tools (Python & NodeJS). Recently, I started dabbling in the FinTech industry and the blockchain. (ETH/EVM & Solidity)</p>

        <p>I am always looking for new and awesome projects to work on, and to meet the amazing people who started them!</p>

        <p>I built this site as a living cv/portfolio and I intend to fill it with everything I have learned and will learn.</p>
      </div>
    </section>

    {{> footer }}
  </body>
</html>