<div class="push"></div>
<footer class="footer">
  <p>© Copyright of {{name}} 2021</p>
  <p>Some Icons by
    <a href="https://www.freepik.com/">Freepik</a>
    by
    <a href="https://www.flaticon.com/">flaticon.com</a></p>
</footer>