<header>
  <div class="head">
    <h1 class="title">{{title}}</h1>
    <div class="social">
      <a target="_blank" href="#" class="fa fa-github"></a>
      <a target="_blank" href="#" class="fa fa-twitter"></a>
      <a target="_blank" href="#" class="fa fa-reddit"></a>
      <a target="_blank" href="#" class="fa fa-linkedin"></a>
      <a href="mailto:brett.plemons@gmail.com" class="fa fa-google"></a>
    </div>
  </div>
  <nav role="navigation">
    <ul class="nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="#">Apps</a>
        <ul class="dropdown">
          <li><a href="/weather-app">Weather</a></li>
          <li><a href="/notes">Note App</a></li>
          <li><a href="/task-manager">Task Manager</a></li>
          <li><a href="/chat">Chat App</a></li>
        </ul>
      </li>
      <li><a href="/site-info">Site Info</a></li>
    </ul>
  </nav>
</header>