section {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: large;
  line-height: 2rem;
}

section img {
  max-height: 300px;
  border-radius: 5%;
}
