.main-content,
h3 {
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* Form Styling */
.form-container {
  background-color: white;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  border: 1px solid #333;
  margin: 0.75rem;
  display: block;
  position: relative;
  height: 3rem;
  box-sizing: border-box;
  padding-right: 8rem;
}

.form-container input {
  padding-left: 1rem;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  margin: 0;
  background-color: transparent;
}

.form-container input:focus-visible {
  border: none;
}

.form-container button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 8rem;
  border: none;
  color: white;
  background-color: #333;
  overflow: hidden;
}

#submit:hover {
  background-color: rgba(136, 136, 136, 0.5);
}

#address[aria-invalid="true"] {
  border: 1px solid #f00;
  box-shadow: 0 0 4px 0 #f00;
}

#address:focus {
  outline: none;
}

/* Forecast Styling */
#forecast {
  visibility: hidden;
}

#forecast {
  border-top: 1px solid rgba(136, 136, 136, 0.5);
  margin-top: 2rem;
}

#forecast h3 {
  border-bottom: 1px solid rgba(136, 136, 136, 0.5);
  padding-bottom: 0.5rem;
}

#location {
  color: green;
}

#description {
  color: green;
}

#chance-rain {
  color: steelblue;
}

#temp {
  color: steelblue;
}

#feels-like {
  color: steelblue;
}

#coords {
  font-size: 0.75rem;
  text-decoration: none;
  font-style: normal;
  color: rgba(136, 136, 136, 0.5);
}
